// source: https://gnome.pages.gitlab.gnome.org/libadwaita/doc/main/named-colors.html

@mixin adwaita-colors-dark {
    --adwaita-accent-color: #78aeed;
    --adwaita-accent-bg-color: #3584e4;
    --adwaita-accent-fg-color: #ffffff;

    --adwaita-destructive-color: #ff7b63;
    --adwaita-destructive-bg-color: #c01c28;
    --adwaita-destructive-fg-color: #ffffff;

    --adwaita-success-color: #8ff0a4;
    --adwaita-success-bg-color: #26a269;
    --adwaita-success-fg-color: #ffffff;

    --adwaita-warning-color: #f8e45c;
    --adwaita-warning-bg-color: #cd9309;
    --adwaita-warning-fg-color: rgba(0, 0, 0, 0.8);

    --adwaita-error-color: #ff7b63;
    --adwaita-error-bg-color: #c01c28;
    --adwaita-error-fg-color: #ffffff;

    --adwaita-window-bg-color: #242424;
    --adwaita-window-fg-color: #ffffff;

    --adwaita-view-bg-color: #1e1e1e;
    --adwaita-view-fg-color: #ffffff;

    --adwaita-headerbar-bg-color: #303030;
    --adwaita-headerbar-fg-color: #ffffff;

    --adwaita-headerbar-border-color: #ffffff;
    --adwaita-headerbar-backdrop-color: #242424;
    --adwaita-headerbar-shade-color: rgba(0, 0, 0, 0.36);

    --adwaita-card-bg-color: rgba(255, 255, 255, 0.08);
    --adwaita-card-fg-color: #ffffff;
    --adwaita-card-shade-color: rgba(0, 0, 0, 0.36);

    --adwaita-dialog-bg-color: #383838;
    --adwaita-dialog-fg-color: #ffffff;

    --adwaita-popover-bg-color: #383838;
    --adwaita-popover-fg-color: #ffffff;
    --adwaita-popover-shader-color: rgba(0, 0, 0, 0.36);

    --adwaita-shade-color: rgba(0, 0, 0, 0.36);
    --adwaita-scrollbar-outline-color: rgba(0, 0, 0, 0.5);

    --adwaita-sidebar-bg-color: #303030;
    --adwaita-sidebar-fg-color: #ffffff;
    --adwaita-sidebar-backdrop-color: #2a2a2a;
    --adwaita-sidebar-border-color: rgba(0, 0, 0, 0.36);
    --adwaita-sidebar-shade-color: rgba(0, 0, 0, 0.25);
}