:root {
    --accent-color: #78aeed;
    --accent-bg-color: #3584e4;
    --accent-fg-color: #ffffff;

    --destructive-color: #ff7b63;
    --destructive-bg-color: #c01c28;
    --destructive-fg-color: #ffffff;

    --success-color: #8ff0a4;
    --success-bg-color: #26a269;
    --success-fg-color: #ffffff;

    --warning-color: #f8e45c;
    --warning-bg-color: #cd9309;
    --warning-fg-color: rgba(0, 0, 0, 0.8);

    --error-color: #ff7b63;
    --error-bg-color: #c01c28;
    --error-fg-color: #ffffff;

    --window-bg-color: #242424;
    --window-fg-color: #ffffff;

    --view-bg-color: #1e1e1e;
    --view-fg-color: #ffffff;

    --headerbar-bg-color: #303030;
    --headerbar-fg-color: #ffffff;

    --headerbar-border-color: #ffffff;
    --headerbar-backdrop-color: #242424;
    --headerbar-shade-color: rgba(0, 0, 0, 0.36);

    --card-bg-color: rgba(255, 255, 255, 0.08);
    --card-fg-color: #ffffff;
    --card-shade-color: rgba(0, 0, 0, 0.36);

    --dialog-bg-color: #383838;
    --dialog-fg-color: #ffffff;

    --popover-bg-color: #383838;
    --popover-fg-color: #ffffff;

    --shade-color: rgba(0, 0, 0, 0.36);
    --scrollbar-outline-color: rgba(0, 0, 0, 0.5);

    --light-1: #ffffff;
    --light-2: #f6f5f4;
    --light-3: #deddda;
    --light-4: #c0bfbc;
    --light-5: #9a9996;

    --dark-1: #77767b;
    --dark-2: #5e5c64;
    --dark-3: #3d3846;
    --dark-4: #241f31;
    --dark-5: #000000;
}
