:root {
    --accent_color: "#78aeed";
    --accent_bg_color: "#3584e4";
    --accent_fg_color: "#ffffff";

    --destructive_color: "#ff7b63";
    --destructive_bg_color: "#c01c28";
    --destructive_fg_color: "#ffffff";

    --success_color: "#8ff0a4";
    --success_bg_color: "#26a269";
    --success_fg_color: "#ffffff";

    --warning_color: "#f8e45c";
    --warning_bg_color: "#cd9309";
    --warning_fg_color: "rgba(0, 0, 0, 0.8)";

    --error_color: "#ff7b63";
    --error_bg_color: "#c01c28";
    --error_fg_color: "#ffffff";

    --window_bg_color: "#242424";
    --window_fg_color: "#ffffff";

    --view_bg_color: "#1e1e1e";
    --view_fg_color: "#ffffff";

    --headerbar_bg_color: "#303030";
    --headerbar_fg_color: "#ffffff";

    --headerbar_border_color: "#ffffff";
    --headerbar_backdrop_color: "#242424";
    --headerbar_shade_color: "rgba(0, 0, 0, 0.36)";

    --card_bg_colo: "rgba(255, 255, 255, 0.08)";
    --card_fg_color: "#ffffff";
    --card_shade_color: "rgba(0, 0, 0, 0.36)";

    --dialog_bg_color: "#383838";
    --dialog_fg_color: "#ffffff";

    --popover_bg_color: "#383838";
    --popover_fg_color: "#ffffff";

    --shade_color: "rgba(0, 0, 0, 0.36)";
    --scrollbar_outline_color: "rgba(0, 0, 0, 0.5)";

    --light-1: #ffffff;
    --light-2: #f6f5f4;
    --light-3: #deddda;
    --light-4: #c0bfbc;
    --light-5: #9a9996;

    --dark-1: #77767b;
    --dark-2: #5e5c64;
    --dark-3: #3d3846;
    --dark-4: #241f31;
    --dark-5: #000000;
}
